[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
isort = "*"
rope = "*"

[packages]
numpy = "*"
matplotlib = "*"
opencv-python = "*"
scipy = "*"
scikit-image = "*"
tqdm = "*"
torch = "*"
torchvision = "*"

[requires]
python_version = "3.7"
